*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
  display: flex;
  position: fixed;
  background: #fff;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  flex-direction: column;
}
main{
   position: relative;
   top: 105px;
}
.logo{
  display: flex;
  border-bottom: 1px solid #ccc;
}
.logo ul{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.logo ul li{
    display: flex;
    padding: 15px 5px;
    width: 50px;
    border-left: 1px solid #ccc;
    justify-content: center;
}
.logo ul li i{
    font-size: 30px;
    cursor: pointer;
}
.logo ul li #menu{
    color: #ff4422;
}
header .logo img{
    width: 100px;
    cursor: pointer;
}
header .tech{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: rgb(216, 216, 15);
}
header .tech h3{
    font-weight: normal;
    font-size: 16px;
}
main .images{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
main .images img{
    width: 96%;
    height: 26%;
    margin-bottom: 10px;
}
/*
main .images .images-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 82.8%;
}
main .images-text .image-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid black;
    background: black;
    opacity: 0.5;
    position: relative;
    padding-left: 10px;
    margin-bottom: 11px;
    width: 98.4%;
    height: 31.6%;
}
*/
main .images .images-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 83%;
}
h1{
    margin-left: 2%;
    cursor: pointer;
    margin-bottom: 20px;
}
h1, h1 i{
    color: #ff4422;   
}
main .images-text .image-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid black;
    background: black;
    opacity: 0.5;
    position: relative;
    padding-left: 10px;
    top: -4px;
    margin-bottom: 12px;
    width: 93.5%;
    height: 31.6%;
}
main .images-text .image-1 h2,
main .images-text .image-1 h4
{
    font-size: 1rem;
    color: white;
} 
main .images-text .image-1 h4
{
    font-weight: normal;
}
#first{
    top: 1px;
}
#second{
    top: -1px;
}
.latest-news{
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-bottom: 10%;
}
.latest-news .news{
    width: 40%;
    display: flex;
}
.latest-news .news img{
    width: 90%;
    height: 150%;
}
.latest-news p{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150%;
    margin-left: 20px;
}
.latest-news .latest-text:hover{
    text-decoration: underline;
    color: #ff4422;
    cursor: pointer;
}

.list ul{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.list ul li{
    display: flex;
    margin-bottom: 8px;
}
.list ul li a{
    text-decoration: none;
    color: #ff4422;
}
.list ul li a:hover{
    color: blue;
}