*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
  display: flex;
  position: fixed;
  background: #fff;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  flex-direction: column;
}
main{
   position: relative;
   top: 105px;
}
.logo{
  display: flex;
  border-bottom: 1px solid #ccc;
}
.logo ul{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.logo ul li{
    display: flex;
    padding: 15px 5px;
    width: 50px;
    border-left: 1px solid #ccc;
    justify-content: center;
}
.logo ul li i{
    font-size: 30px;
    cursor: pointer;
}
.logo ul li #menu{
    color: #ff4422;
}
header .logo img{
    width: 100px;
    cursor: pointer;
}
header .tech{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: rgb(216, 216, 15);
}
header .tech h3{
    font-weight: normal;
    font-size: 16px;
}
main .section-content{
    width: 96%;
    margin-bottom: 10px;
}
main .section-content img{
    width: 100%;
    margin-bottom: 10px;
}

main .section-content .section-text {
    font-size: 12px;
}
h1{
    margin-left: 2%;
    cursor: pointer;
    margin-bottom: 20px;
}
h1, h1 i{
    color: #ff4422;   
}

.latest-news{
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-bottom: 10%;
}
.latest-news .news{
    width: 40%;
    display: flex;
}
.latest-news .news img{
    width: 90%;
    height: 150%;
}
.latest-news p{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150%;
    margin-left: 20px;
}
.latest-news .latest-text:hover{
    text-decoration: underline;
    color: #ff4422;
    cursor: pointer;
}

.list ul{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.list ul li{
    display: flex;
    margin-bottom: 8px;
}
.list ul li a{
    text-decoration: none;
    color: #ff4422;
}
.list ul li a:hover{
    color: blue;
}
.latest-funding .funding-1{
    width: 90%;
    margin: 10px;
}
.latest-funding .funding-1 .header img{
    width: 15%;
    margin-top: -8%;
    margin-left: 3%;
    box-sizing: border-box;

}
.latest-funding .funding-1 .header{
    height: 40px;
    box-sizing: border-box;
    background: #ff4422;
}
.header h4{
    color: white;
    padding: 3% 23.5%;
}
.latest-funding .funding-1 .latest-content{
    box-sizing: border-box;
    background: #fdc6bc;
    padding: 3% 20%;
    height: 60px;
}
.latest-content h6{
    color: grey;
}
.hospitality{
    padding: 5% 20%;
    box-sizing: border-box; 
    background: #f7edeb;
    border-bottom: 1px solid #fdc6bc;
}
.hospitality p{
    font-size: 0.8rem;
    margin-top: 0.8rem;
}
.latest-funding .funding-1 .footer{
    background: #f7edeb;
    padding: 10px;
    cursor: pointer;
}
.latest-funding .funding-1 .footer p{
    line-height: 20px;
    font-size: 14px;
}
.latest-funding .funding-1 .footer p span{
    color: grey;
}
.section-content{
    margin-left: 10px;
    background: black;
    margin-bottom: 20%;
    height: 300px;
    width: 90%;
}
.section-content img{
    height: 300px;
    width: 100%;
    opacity: 0.5;
}
.section-content .section-text{
    margin-left: 20px;
    position: relative;
    color: white;
    bottom: 35%;   
}
.section-content .section-text h5{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.section-content .section-text p{
  font-weight: bolder;
  font-size: 20px;
}